<li class="contact-card-list__item">
  <a class="contact-card" href="chatMessage?id={{id}}" data-id="{{id}}">
    <img class="contact-card__avatar" src={{img}} alt="avatar">
    <div class="contact-card__name-wrapper">
      <p class="contact-card__name">{{title}}</p>
    </div>
    <p class="contact-card__last-message">{{last_message.content}}</p>
    <span class="contact-card__updated">{{last_message.time}}</span>
    {{#if unread_count}}
      <span class="contact-card__counter-messages">
        {{unread_count}}
      </span>
    {{/if}}
  </a>
</li>
